<h1>Weight Loss Indian Diet Plan</h1>
<p>Whenever you search the internet for a diet plan, you will always come across diet plans that are suited for the western culture. If you are an Indian and have spent most part of your life in India munching on the wide variety of Indian foods, it is very difficult for you to follow the American diet plan that will help in reducing weight. You would be longing to find an Indian diet plan that will help you to reduce weight so that you eat what you have been eating so far and yet lose weight. The following is an Indian weight loss diet chart that you need to follow to shed off the extra kilos in your body easily.</p>

<h3>1200 Calorie Vegetarian Indian Diet Plan Menu To Lose Weight</h3>
By following this menu guide, you will be able to restrict your food consumption to just 1200 calories to 1300 calories a day and thereby you will feel lighter after a couple of weeks of following this weight loss diet menu. The vegetarian diet menu is as follows:

<h4>Early Morning (7 Am):</h4>

o    A glass of lukewarm water with lemon (0 calories).
o    A cup of tea with skim milk, no sugar and 2 biscuits (90 calories)

<h4>Breakfast (8 am):</h4>

o    2 Wheat Rotis or chapattis + ½ cup of Paneer gravy (tofu is better) (330 calories).                 Or
o    A plate of brown bread upma and a cup of skim milk (300 calories).

<h4>Mid Morning Snack: (10:30 am):</h4>

o    A banana or 20 Grapes or ½ cup melon (50 calories).

<h4>Lunch (1 pm):</h4>

o    1 cup of brown rice (200 grams) + ½ cup mixed vegetables + one small bowl of Raitha + 1 bowl vegetable salad (345 calories).

<h4>Evening (4 pm):</h4>

o    Butter Milk 1 glass or 1 cup (35 calories)

<h4>Dinner (8 pm):</h4>

2 Chappatis or Rotis + 1 bowl of Vegetable Soup + 1 bowl of salad (370 calories)
The total calories you will consume in this vegetarian diet is about 1220 calories.

</br></br>

<h3>1200 Calorie Non Vegetarian Indian Diet Plan Menu For Weight Loss</h3>
<p>If you are a non vegetarian and do not like to eat a lot of vegetables to lose weight, then there is no need to worry. You can also lose a considerable amount of weight by including non vegetarian dishes in your daily menu. The following is the non vegetarian Indian diet plan for weight loss.</p>

<h4>Early Morning (7 Am):</h4>

o    A glass of lukewarm water with lemon (0 calories).
o    A cup of tea with skim milk, no sugar and 2 biscuits (90 calories)

<h4>Breakfast (8 am):</h4>

o    2 Slices of brown bread + 2 hard boiled eggs (290 calories).                         Or
o    1 Slice of brown bread + 2 scrambled egg + 1 cup skimmed milk without sugar (310 calories).

<h4>Mid Morning Snack: (10:30 am):</h4>

o    A banana or 20 Grapes or ½ cup melon or fistful of almonds or walnuts (50 calories).

<h4>Lunch (1 pm):</h4>

o    1 cup of brown rice (200 grams) + ½ cup mixed vegetables + 100 grams of chicken (boiled or stir fried in olive oil) + 1 bowl vegetable salad (360 calories).

<h4>Evening (4 pm):</h4>

o    Butter Milk 1 glass or 1 cup (35 calories).

<h4>Dinner (8 pm):</h4>

1 Chappati or Roti + ½ cup of Lentils dal + 50 grams of fish (rich in omega 3 fatty acids) + 1 bowl of raitha (380 calories).

The total calorie that you will be consuming a day by following this non-vegetarian diet menu is around 1225 calories.

By following this diet plan, you will be able to lose weight by eating all your favorite foods. You do not need to do rigorous workouts and just need to do mild exercises to enjoy weight loss with this diet. If you are looking to lose weight within a short span of time, then the 1200 calorie diet plan will help you to shed extra kilos by making a little bit of adjustment to your lifestyle and diet.