<div class="container tour_page">
    <div class="row">


    <!-- TH1 -->
        <div class="col-sm-4" ng-click="muscleWorkout()">
            <div class="thumbnail">
              <a href="#" class="">
                <div class="caption">
                     <h4 class="">Muscle Workout</h4>
                </div>
                <img src="images/muscleWorkoutImg1.jpg" alt="..." class="">
               </a>
            </div>
        </div>

        <!-- TH2 -->
        <div class="col-sm-4" id="coreBodyCSS">
            <div class="thumbnail">
              <a href="#" class="">
                <div class="caption">
                     <h4 class="">Core Body Workout</h4>
    </div>
                <img src="images/HIITImg1.jpg" alt="..." class="">
                </a>
            </div>
        </div>

       


        <!-- TH6 -->
        <div class="col-sm-4" >
            <div class="thumbnail">
                <div class="caption">
                     <h4 class="">Question Forum</h4>

                    <p class="">

<a href="#" class="label label-default">Open</a>

</p>
                </div>
                <img src="images/queryImg1.png" alt="..." class="">
            </div>
        </div>

        <!-- TH6 -->


    </div><!--/row -->

</div> <!-- end container -->