<div class="container tour_page">
   
    <div class="row">


    <!-- TH1 -->
        <div class="col-sm-4" id="coreBodyCSS">
            <div class="thumbnail">
              <a ui-sref="muscleWorkout" class="">
                <div class="caption">
                     <h4 class="">Muscle Workout</h4>
                </div>
                <img src="images/muscleWorkoutImg1.jpg" alt="..." class="">
               </a>
            </div>
        </div>

        <!-- TH2 -->
        <div class="col-sm-4" id="coreBodyCSS">
            <div class="thumbnail">
              <a ui-sref="coreBodyWorkout" class="">
                <div class="caption">
                     <h4 class="">Core Body Workout</h4>
                </div>
                <img src="images/HIITImg1.jpg" alt="..." class="">
                </a>
            </div>
        </div>

        <!-- TH6 -->
        <div class="col-sm-4" >
            <div class="thumbnail">
                 <a ui-sref="questionForum" class="">
                <div class="caption">
                     <h4 class="">Question Forum</h4>
                </div>
                <img src="images/queryImg1.png" alt="..." class="">
            </a>
            </div>
        </div>

    </div><!--/row -->

<div class="row">
        <!-- TH6 -->
         <div class="col-sm-4" id="coreBodyCSS" ng-hide="loggedIn">
            <div class="thumbnail">
                 <a ui-sref="muscleWorkoutDiet" class="">
                <div class="caption">
                     <h4 class="">Muscle Workout Diet Chart</h4>
                </div>
                <img src="images/muscleGain.jpg" alt="..." class="">
            </a>
            </div>
        </div>

        <div class="col-sm-4" ng-hide="loggedIn">
            <div class="thumbnail">
                 <a ui-sref="coreBodyWorkoutDiet" class="">
                <div class="caption">
                     <h4 class="">Core Body Workout Diet Chart</h4>
                </div>
                <img src="images/weightLoss.jpg" alt="..." class="">
            </a>
            </div>
        </div>

         <div class="col-sm-4" ng-hide="loggedIn">
            <div class="thumbnail">
                 <a ui-sref="motivationTestimonies" class="">
                <div class="caption">
                     <h4 class="">Motivation and Testimonies</h4>
                </div>
                <img src="images/motivation.jpeg" alt="..." class="">
            </a>
            </div>
        </div>
</div>
</div> <!-- end container -->