
<h2>Strive for progress, not perfection. </h2> 
-Unknown

<h2> You want me to do something... tell me I can't do it. </h2> 
-Maya Angelou

<h2> You miss 100% of the shots you don't take. </h2> 
-Wayne Gretzky

<h2> If you don’t make mistakes, you aren’t really trying. </h2> 
-Unknown

<h2> You live longer once you realize that any time spent being unhappy is wasted. </h2> 
-Ruth E. Renkl

<h2>  Strength does not come from physical capacity. It comes from an indomitable will. </h2> 
-Mahatma Gandhi

<h2>  Motivation will almost always beat mere talent. </h2> 
-Norman R. Augustine

<h2> I'd rather be a failure at something I enjoy than a success at something I hate. </h2> 
-George Burns

<h2>  Energy and persistence conquer all things. </h2> 
-Benjamin Franklin

<h2>  Nothing great was ever achieved without enthusiasm. </h2> 
-Ralph Waldo Emerson

<h2>  No act of kindness, however small, is ever wasted. </h2> 
-Aesop

<h2> Insanity: doing the same thing over and over again and expecting different results. </h2> 
-Albert Einstein

<h2> Ability is what you're capable of doing. Motivation determines what you do. Attitude determines how well you do it. </h2> 
-Lou Holtz

<h2>  Motivation is what gets you started. Habit is what keeps you going. </h2> 
-Jim Ryan

<h2> I've missed more than 9,000 shots in my career. I've lost almost 300 games. 26 times, I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my life. And that is why I succeed. </h2> 
-Michael Jordan

<h2>  Fear is what stops you... courages is what keeps you going. </h2> 
-Unknown

<h2> The finish line is just the beginning of a whole new race. </h2> 
-Unknown

<h2>  The difference between a goal and a dream is a deadline. </h2> 
-Steve Smith 

<h2> Just do it.™</h2>  -Nike 

<h2> In seeking happiness for others, you find it for yourself. </h2> 
-Anonymous 

<h2> The secret of getting ahead is getting started. </h2> 
-Mark Twain 

<h2>  It's not who you are that holds you back, it’s who you think you’re not. </h2> 
-Anonymous 

<h2>  Luck is a matter of preparation meeting opportunity. </h2> 
-Oprah Winfrey 

<h2>  It's never too late to become what you might have been. </h2> 
-George Eliot 

<h2>  Clear your mind of can’t. </h2> 
-Samuel Johnson