<h1>CHEAP HIGH PROTEIN FOODS</h1>

<h3>Tinned Tuna:</h3> <p>This is one of my favourite cheap sources of protein. A 120g tin contains around 30g of protein, with zero carbs or fat. You can eat it with pasta and some light mayo, in a sandwich or just straight from the tin.</p>

<h3>Lean Minced Chicken:</h3><p>Make sure to go for the lean steak minced chicken, it’s low in fat, carbs and high in protein. You’ll get around 20g of protein per 100g and there’s an endless amount of tasty recipes you can put together with this stuff.</p> 

<h3>Minced Turkey:</h3><p>Much like the minced beef, with minced turkey you’re getting around 20g of protein per 100g but less fat and carbs. It’s a great cheap lean protein source.</p>

<h3>Eggs:</h3> <p>Eggs are not only high in protein (large free range 8g per egg), but they’re packed with super healthy vitamins such as vitamins D, A, B2 and iodine. They’re also very versatile so, they don’t become a boring food to eat every day. You can scramble, boil, fry or make omelettes with them. Don’t throw the yolk away, that’s where most of the protein and nutrients are, you’re eating them for mass so don’t worry about the small fat content.</p>

<h3>Mackerel Fillets:</h3><p>Another great cheap tinned fish containing around 20g of protein (based on a 125g tin).</p>

<h3>Whey Powder:</h3><p>You don’t need to spend hundreds of dollars every month on expensive supplements, but I do recommend getting at least one tub of whey protein per month. At the moment I’m using PHD Whey HT which contains whey protein concentrate and isolate. Just one 50g serving a day (two scoops with water) will add 37g of protein to my daily intake and the tub will last the month. To make it last longer you can use one scoop and mix it with milk to increase the protein content.</p>

<h3>Peanut Butter:</h3><p>Peanut butter is high protein, calorie dense and full of healthy fats. Eat a couple of table spoons of peanut butter with a whey protein shake. This can be counted as a meal.</p>

<h2>BUDGET BULKING DIET PLAN</h2>

<h3>Meal 1:</h3> 76g oats with raisins + 2 scoops whey + 50g Peanut butter</p>
Calories – 932
Protein – 66
Carbs – 84
Fats – 30

<h2>-TRAIN-</h2>

<h3>Meal 2:</h3> <p>PWS – 2 scoop PDH Iso-7 + 200ml skimmed milk</p>
Calories – 347
Protein – 40
Carbs – 26

<h3>Meal 3:</h3> <p>3 slice Brown Bread toasted + 1 ½ tin Tuna</p>
Calories – 469
Protein – 57
Carbs – 44
Fats – 2

<h3>Meal 4:</h3> <p>3 Boiled Eggs on 3 slice brown bread toasted</p>
Calories – 501
Protein – 33
Carbs – 30
Fats – 22

<h3>Meal 5:</h3> <p>Spaghetti Bolognese (200g Spaghetti + 200g extra lean minced beef)</p>
Calories – 562
Protein – 50
Carbs – 62
Fats – 15

<h3>Meal 6:</h3> <p>1 Chicken breast + 112g Brown Rice</p>
Calories – 537
Protein – 40
Carbs – 84
Fats – 3

<h3>Total:</h3> 
<h4>Calories – 3,498</h4> <p>(Added 150 calories for fruit snacks)</p>
<h4>Protein – 286g</h4>
<h4>Carbs – 330g</h4>
<h4>Fats – 72g</h4>

<p>Add portions of vegetables in with some of the meals plus for snacks, eat fruit. This will ensure you’re getting in healthy fruits and vegetables on top of your daily core macronutrient and calorie requirements. Also, make sure you’re taking in plenty of water each day, at least 3 litres.</p>

<p>Tip: Buy your food in bulk. Supermarkets usually offer some kind of multi buy deal, where you get a discount for buying three or more of the same product. Take advantage of these offers and freeze the meats you buy in bulk. Try not to go for the popular expensive brands, instead buy the generic or the supermarkets own brand, because they’re usually a far lower in price.</p>