<h1>Welcome {{name}}</h1>


<div class="container tour_page">
   
    <div class="row">


    <!-- TH1 -->
        <div class="col-sm-4" id="coreBodyCSS">
            <div class="thumbnail">
              <a ui-sref="chat" class="">
                <div class="caption">
                     <h4 class="">Talk to our support team</h4>
                </div>
                <img src="images/voiceSupportTeam.jpeg" alt="..." class="">
               </a>
            </div>
        </div>

        <!-- TH2 -->
        <div class="col-sm-4" id="coreBodyCSS">
            <div class="thumbnail">
              <a href="#" class="">
                <div class="caption">
                     <h4 class="">Best Deals</h4>
               </div>
                <img src="images/bestDeals.jpeg" alt="..." class="">
                </a>
            </div>
        </div>

       
         <div class="col-sm-4" id="coreBodyCSS">
                    <div class="thumbnail">
                      <a ui-sref="map" class="">
                        <div class="caption">
                             <h4 class="">Find us on the map</h4>
                       </div>
                        <img src="images/mapsgoogle.png" alt="..." class="">
                        </a>
                    </div>
                </div>

              
        <!-- TH6 -->


    </div><!--/row -->

</div> <!-- end container -->